__pycache__/
**/__pycache__/
**/*.pyc
**/build/
**/.egg-info/
**/.egg
**/*.pyc
**/.DS_Store
**/.vscode/
**/*.log
**/*.out
**/logs
**/.idea
**/samples*
**/sample2pkl.py
GUI/outputs
**/wandb
**/test
**/gui_test.py
/.gitattributes
ysy_main.py
.env

benchmark/
dataset/
**/*.npy
LKH-3.0.13/